@font-face {
    font-family: headingFont;
    src: url(Fonts/temp_heading.woff2);
}
@font-face {
    font-family: contentFont;
    src: url(Fonts/temp_content.woff2);
}
.startPageBackground {
    background-image: url(ImageFolder/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.startPage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 100;
    overflow: hidden;
}
.title {
    margin-top: 30vh;
    z-index: 1;
    font-size: 7rem;
    margin-bottom: 0px;
    font-family: headingFont;
    animation: titleColourChange 4s infinite;
    transition: all 0.5s;
    background: linear-gradient(-45deg, #e8ed54, #fbff91, #fbff91, #e8ed54);
	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;
}
.title:hover {
    transform: scaleX(1.1);
}
.meCaption {
    font-family: contentFont;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #feffda;
    margin-bottom: 40px;
    cursor: pointer;
    transition: color 0.3s;
    animation: fadeInBottom 1s forwards 0.5s;
}
.meCaption:hover {
    color: #f8fab3;
    cursor: none;
}
.contact-button {
    background-color: #3c3c1c;
    color: #f6f1a3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    animation: fadeInBottom 1s forwards 0.5s;
    transition: all 0.5s;
}
.contact-button:hover {
    background-color: #565818;
    box-shadow: inset 0 1.5em 0em 0em #565818,
        inset 0 -1.5em 0em 0em #565818;
    color: #f5f5b8;
    transform: scaleX(1.3);
    cursor: none;
}
.arrow {
    height: 50px;
    width: auto;
    margin-top: 16vh;
    animation: moveUpDown 2s ease-in-out infinite;
}
@keyframes moveUpDown {
    0%, 100% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(0%, -20px);
    }
}
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(+50px);
    }
    to {
        opacity: 50;
        transform: translateY(0px);
    }
}
.scrollContent {
    z-index: 10;
    background-color: red;
}
.aboutMe {
    margin-top: 0;
    background-image: url(ImageFolder/aboutMeBackground.svg);
    background-size: cover;
    background-color: #f5f5b8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.aboutMe1 {
    padding-top: 30px;
    padding-left: 130px;
    padding-right: 130px;
    min-width: 250px;
    flex:1;
}
.aboutMe1Title {
    font-family: headingFont; 
    font-weight: lighter; 
    color: #003130; 
    font-size: 3rem;
    transition: all 0.2s;
}
.aboutMe1Title:hover {
    transform:scale(1.1);
}
.aboutMeText {
    font-family: contentFont;
    font-size: 1.1em;
    color: #003130;
    transition: all 0.2s;
}
.aboutMeText:hover {
    transform:scale(1.01);
}
.aboutMe2 {
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 250px;
    padding-left: 130px;
    padding-right: 130px;
    flex:1;
}
.me {
    background-image: url(ImageFolder/me.jpg);
    background-size: cover;
    border: rgb(14, 59, 51) solid 5px;
    margin-top: 15vh;
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-radius: 50%;
}