@font-face {
    font-family: headingFont;
    src: url(Fonts/titan-one-v15-latin-regular.woff2);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #0e1117ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: headingFont, sans-serif;
}
.functionBox::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
.functionBox::-webkit-scrollbar-track {
    background-color: #30303a;
    border-radius: 5px;
}
.functionBox::-webkit-scrollbar-thumb {
    background-color: #25252e;
    border-radius: 5px;
}
.codingBlocks::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
.codingBlocks::-webkit-scrollbar-track {
    background-color: #30303a;
    border-radius: 5px;
}
.codingBlocks::-webkit-scrollbar-thumb {
    background-color: #25252e;
    border-radius: 5px;
}


.main-container {
    width: 450px;
    height: 500px;
    background-color: #262730ff;
    border: 3px solid #7b7b81;
    overflow: hidden;
    position: relative;
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.slide.active {
    display: flex;
} 
.title1, .title2, .title3, .title4 {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0.3rem;
    text-align: center;
}
.title1, .title2 {
    color: #cccccc;
}
.title3, .title4 {
    font-size: 2.7rem;
    font-weight: bold;
    color: #42ffb7;
}
.bot-img {
    width: 180px;
    margin-top: 1.5rem;
}

.buildingTitle1{
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0.3rem;
    text-align: center;
    color: #cccccc;
}
.googleslides{
    width: 140px;
    margin-top: 1.1rem;
}
.buildingLink{
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0.8rem;
    text-align: center;
    color: #c4d4fe;
}

.codingTitle1{
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0.3rem;
    text-align: center;
    color: #cccccc;
}
.codingSections{
    display: flex;
    background-color: #262730ff;
    height: calc(100% - 1.5rem);
    width: 100%;
    grid-template-rows: 2;
}
.codingSectionLeft{
    background-color: rgb(33, 34, 43);
    height: 100%;
    width: 50%;
}
.codingSectionRight{
    background-color: rgb(33, 34, 43);
    height: 100%;
    width: 50%
}
.codingBlocks{
    overflow-y: scroll;
    height: calc(100% - 1.5rem);
}
.codeBlock {
    background-color: #2f2f3b;
    color: white;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    font-family: monospace;
    cursor: grab;
    user-select: none;
    border: 1px solid #444;
}
.functionBox {
    background-color: #1d1e26;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-family: monospace;
    height: calc(100% - 1.5rem);
    overflow-y: scroll;
}
.functionTitle {
    color: #72aaff;
    margin: 5px 0;
    font-weight: bold;
}
.functionContent {
    background-color: #2a2a34;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #3d3d4e;
}
.copyBox {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid gray;
    color: white;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 8px;
    transition: all 0.2s;
}
.copyBox.correct {
    border-color: #4CAF50;
    background-color: #2e7d32;
}
.copyBox.incorrect {
    border-color: #f44336;
    background-color: #b71c1c;
}
.arrowLeft, .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cccccc;
    color: #0e1117ff;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
    user-select: none;
    border-radius: 5px;
    border: 3px solid #0e1117ff;
}
.arrowLeft {left: 10px;}
.arrowRight {right: 10px;}
  